body, html {
  /* The image used */
  background-image: url("http://img1.10bestmedia.com/Images/Photos/296772/cq5dam_54_990x660.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}