@import "../modules/variables";

header {
  background-color: $header-background;

  h1 {
    color: $header-text-color;
    font-family: 'setta';
  }

  h6 {
    color: $header-text-color;
    margin: 0.5rem;
    font-family: 'simple';
  }
}

.header-top {

}

.header-links {
  text-align: center;
    font-family: 'simple';
}

.nav-item {
  @extend h5
}