@import "../modules/variables";

header {
  background-color: $header-background;

  h1 {
    color: $header-text-color;
  }

  h6 {
    color: $header-text-color;
    margin: 0.5rem;
  }
}

.header-top {

}

.header-links {
  text-align: center;
}

.nav-item {
  @extend h5
}