@import "../modules/variables";

.carousel-photo {
  max-width: 100%;
  height: auto;
  @media (max-width: $lg) {
    height: 30rem;
  }
  @media (max-width: $md) {
    height: 20rem;
  }
  @media (max-width: $sm) {
    height: 10rem;
  }
}
